body{
   background-color: aquamarine;
}
.main{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 700px;
}
#header{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#header i{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 60%;
    font-size: x-large;
    font-weight: bold;
}
#header ul{
    display: flex;
    flex-direction: row;
    width: 40%;
    text-align: left;
    
}
#header ul li{
    padding-right: 20px;
    list-style: none;
}
.sign{
    background-color: azure;
    padding-left: 20px;
    border: 1px solid #2e2c2c;
    border-radius:15% ;
}


#body{
    display: flex;
    flex-direction: row;
}
.left_menu{
    display: flex;
    flex-direction: column;
}
.left_menu ul{
    color: #4d4a4a;
    list-style: none;
}
.left_menu ul li:hover{
    color: rgb(251, 124, 124);
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 20px;
}
.box_content{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.box_content:hover{
    color: red;
}
.box_content1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    
}
.box_content1:hover{
    color: red;
}
.border {
    border: 1px solid #000;  
    background-color: aqua;
    height: 100%;
    width: 100px;
   
}
.style{
    font-size: small;
    font-weight: lighter;
}
#footer{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.footer_left{
    width: 20%;
    font-weight: bolder;
    margin-bottom: 50px;
}
.footer_main{
    width: 80%;
}
.footer_main ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.footer_main ul li {
    padding: 0px 20px 0px 0px;
}

.footer_main ul li a:hover{
    color: rgb(182, 94, 94);
}